<nav class="nav navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/">Auth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-controller="AppController">
            <ul ng-show="isLoggedIn" class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
            </ul>

            <ul ng-show="isLoggedIn" class="nav navbar-nav pull-right">
                <li><a style="cursor: pointer" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>